*{
    box-sizing: border-box;
}

/* creando variables */
:root{
    --darkgreen: #249e06;
    --darkred: #ff0000;
    --darkyellow: #ffee00;
    --darkblue: #001aff;
    --lightgreen: #000000;
    --lightred: #000000;
    --lightyellow: #000000;
    --lightblue: #000000;

}
.container{
    background-color: rgb(196, 192, 192);
    margin: 0px auto;
    text-align: center;
    align-items: center;
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    position: relative;
    border: 7px solid black;
    box-shadow: 5px 5px 10px 2px rgb(139, 139, 139);
}

.centro{
    margin: 0;
    position: absolute;
    background-color: rgb(88, 88, 88);
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 7px solid black;
    align-items: center;
    
}


#up-green{
    width: 40vh;
    height: 40vh;
    background-color: var(--darkgreen);
    border-radius: 250px 0 0 0;
    top: 0;
    left: 0;
    border: 3px solid #000000;
}

#right-red{
    width: 40vh;
    height: 40vh;
    background-color: var(--darkred);
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 100%;
}

#down-blue{
    width: 40vh;
    height: 40vh;
    background-color: var(--darkblue);
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
}

#left-yellow{
    width: 40vh;
    height: 40vh;
    background-color: var(--darkyellow);
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
}